# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

SwiftJourney-Front-End/node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Removed the specific paths for cypress videos and screenshots
SwiftJourney-Front-End/cypress/videos/
SwiftJourney-Front-End/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
